<!-- Pills navs -->
<ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
  <li class="nav-item  mx-3" role="presentation">
    <a
      class="nav-link active display-6"
      id="ex2-tab-1"
      data-bs-toggle="tab"
      href="#ex2-tabs-1"
      role="tab"
      aria-controls="ex2-tabs-1"
      aria-selected="true"
      >My Movies</a
    >
  </li>
  <li class="nav-item  mx-3" role="presentation">
    <a
      class="nav-link display-6"
      id="ex2-tab-2"
      data-bs-toggle="tab"
      href="#ex2-tabs-2"
      role="tab"
      aria-controls="ex2-tabs-2"
      aria-selected="false"
      >My Shows</a
    >
  </li>
</ul>
<!-- tabs navs -->

<!-- tabs content -->
<div class="tab-content" id="ex2-content">
  <div class="tab-pane fade show active" id="ex2-tabs-1" role="tabpanel" aria-labelledby="ex2-tab-1">
    <div class="container justify-content-around">
      <div class="row justify-content-center mb-3 shadow">
        <div class="col-11">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Genre</th>
                <th scope="col">Studio</th>
                <th scope="col">Rating</th>
              </tr>
            </thead>
            <tbody>
              {{#each myMovies}}
              <tr>
                <th scope="row">{{title}}</th>
                <td>{{genre}}</td>
                <td>{{studio}}</td>
                <td>{{rating}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-pane fade" id="ex2-tabs-2" role="tabpanel" aria-labelledby="ex2-tab-2">
    <div class="container justify-content-around">
      <div class="row justify-content-center mb-3">
        <div class="col-11">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Title</th>
                <th scope="col">Genre</th>
                <th scope="col">Rating</th>
                <th scope="col">Service</th>
              </tr>
            </thead>
            <tbody>
              {{#each shows}}
              <tr>
                <th scope="row">{{title}}</th>
                <td>{{genre}}</td>
                <td>{{rating}}</td>
                <td>{{service}}</td>
              </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- tabs content -->

{{!-- More Entertainment Section --}}
<section>
  <h1 class="display-6 text-center mb-4">Add To Lists</h1>

  <div class="container">
    {{!-- Add Movie  --}}
    <div class="row justify-content-center shadow my-3">
      <form action="add-movie" class="row col-11">
        <h2 class="display-6 fs-3">Add Movie</h2>
        <div class="col-md-6 col-lg-8">
          <label for="intputTitle-m" class="form-label" >Title</label>
          <input type="text" class="form-control" id="intputTitle-m" placeholder="Enter Movie Title Here"/>
        </div>
        <div class="col-md-6 col-lg-4">
          <label for="inputGenre-m" class="form-label">Genre</label>
          <select name="Genre" id="inputGenre-m" class="form-select">
            <option selected>Choose...</option>
            <option value="Action">Action</option>
            <option value="Comedy">Comedy</option>
            <option value="Family">Family</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Horror">Horror</option>
            <option value="Mystery">Mystery</option>
            <option value="Romance">Romance</option>
            <option value="Thriller">Thriller</option>
            <option value="Western">Western</option>
          </select>
        </div>
        <div class="col-md-6 col-lg-8">
          <label for="inputStudio" class="form-label">Studio</label>
          <input type="text" class="form-control" id="inputStudio" placeholder="Enter Studio Name Here"/>
        </div>
        <div class="col-md-6 col-lg-4">
          <label for="inputRating-m" class="form-label">Rating</label>
          <select name="Rating" id="inputRating-m" class="form-select">
            <option selected>Choose...</option>
            <option value="G">G</option>
            <option value="PG">PG</option>
            <option value="PG-13">PG-13</option>
            <option value="R">R</option>
            <option value="NC-17">NC-17</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary col my-3 mx-3">Update Movies</button>
      </form>
    </div>
    {{!-- Add Movie  --}}
    {{!-- Add Show  --}}
    <div class="row justify-content-center shadow my-3">
      <form action="add-show" class="row col-11">
        <h2 class="display-6 fs-3">Add Show</h2>
        <div class="col-md-6 col-lg-8">
          <label for="inputTitle-s" class="form-label" >Title</label>
          <input type="text" class="form-control" id="inputTitle-s" placeholder="Enter Show Title Here"/>
        </div>
        <div class="col-md-6 col-lg-4">
          <label for="inputGenre-s" class="form-label">Genre</label>
          <select name="Genre" id="inputGenre-s" class="form-select">
            <option selected>Choose...</option>
            <option value="Action">Action</option>
            <option value="Comedy">Comedy</option>
            <option value="Family">Family</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Horror">Horror</option>
            <option value="Mystery">Mystery</option>
            <option value="Romance">Romance</option>
            <option value="Thriller">Thriller</option>
            <option value="Western">Western</option>
          </select>
        </div>
        <div class="col-md-6 col-lg-8">
          <label for="inputService" class="form-label">Service</label>
          <input type="text" class="form-control" id="inputService" placeholder="Enter Streaming Service Name Here"/>
        </div>
        <div class="col-md-6 col-lg-4">
          <label for="inputRating-s" class="form-label">Rating</label>
          <select name="Rating" id="inputRating-s" class="form-select">
            <option selected>Choose...</option>
            <option value="TV-Y">TV-Y</option>
            <option value="TY-Y7">TY-Y7</option>
            <option value="TV-Y7-FV">TV-Y7-FV</option>
            <option value="TV-G">TV-G</option>
            <option value="TV-PG">TV-PG</option>
            <option value="TV-14">TV-14</option>
            <option value="TV-MA">TV-MA</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary col my-3 mx-3">Update Shows</button>
      </form>
    </div>
    {{!-- Add Show  --}}
  </div>
</section>
<script src="/javascript/mylists.js"></script>